day21/source/23_WEB_XML/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.atguigu.com/book"
		xmlns:tns="http://www.atguigu.com/book" 
		elementFormDefault="qualified">
		
		<element name="book">
			<complexType>
				<sequence>
					<element name="title" maxOccurs="unbounded">
						<complexType>
							<attribute name="id" type="ID"></attribute>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</element>
		
</schema>